.carre1 {
     height: 260px;
    width: 200px ;
    background-color: rgba(216,59,45,0.86);
    
}


.carre2 {
     height: 260px;
      width: 200px ;
    background-color: rgba(109,191,103,1);
    
}

.carre3 {
    height: 260px;
    width: 200px ;
    background-color: rgba(236,204,97,1);
    
}

.carre4 {
     height: 260px;
    width: 200px ;
    background-color: rgba(90,153,248,1);  
}

h1{

	font-size: 130px ;
 
}


.js{
	font-size: 40px ;
}

.corps {
	margin-top: 10px;

}
html {
	overflow: none;
}


#perdu {
	display: none;
}
#start {
	margin-top: 30px;
}

#infos {
	display: none;
}

#spe { display: none; }
#indic {
	display: none;
	font-size: 6vh;	
	opacity:0.6;

}

#level1 {
  margin-top: 6% !important;
  background-color: #FFFFFF;
  justify-content: center;
  width: 53%;
  height: 33% !important;
  display: none; 
border-radius: 10px;}
}
button{
	display: all; 
  font-family: Lato2;
  border-radius:70%!important ; 
  width: 10%; 
  font-size: 30px;
}

body{
	height: 100vh;
	background-color: #EEEEEE;

}


.starting {
	border-radius: 10px !important;
}



@font-face {
 font-family: 'Lato1' ;
 src: local("Lato-Black"), 
 url("assets/fonts/Lato-Black.ttf") format("ttf");
}
@font-face {
 font-family: 'Lato2';
 src: local("Lato-Bold"), 
 url("assets/fonts/Lato-Bold.ttf") format("ttf");
}



#Titre  {
  font-family: Lato2;
  animation: wheelHueColor 6s ; color: rgb(97,97,97);
}
#sous-titre {
  font-family: Lato2;

}

@keyframes wheelHueColor {
    from, to { color: rgb(97, 97, 97); }
    20%     { color: rgb(216, 59, 45); }
    40%      { color: rgb( 109, 191, 103); }
    60%      { color: rgb( 236, 204, 97); }
    80%      { color: rgb(90, 153, 248); }
    100%     { color: rgb(97, 97, 97); }
   
}

.cont {
  background-color: blue;
}

#alert{
  display: none;
}

.spinner {
  width: 90px;
  height: 90px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}